* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2em 2em 2em 34em;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20em;
}

.toc {
    position: fixed;
    left: 20em;
    top: 5em;
    padding: 1em;
    width: 14em;
    line-height: 2;
}

.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible > a {
    color: #111;
    -webkit-transform: translate(5px);
    -ms-transform: translate(5px);
    transform: translate(5px);
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gallery {
    position: fixed;
    right: 10em;
    top: 5em;
    padding: 1em;
    width: 20em;
}

.gallery img {
    max-width: 10em;
    display: inline;
}

.contents {
    padding: 1em;
    max-width: 800px;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    float: left;
}

.contents img {
    max-width: 100%;
}

.contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
}

.contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
}

.contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
}

.contents h2 h3 {
    padding-top: 1em;
}

.contents h2 {
    margin-top: 1.2em;
}

.icon h1 {
    font-family: 'Ruslan Display', cursive;
    font-size: x-large;
}

.icon {
    text-align: center;
}

.icon img {
    width: 100%;
    padding: 3rem;
}

h2 {
    background: aliceblue;
    padding: 1em;
    font-family: 'Ruslan Display', cursive;
}

p::first-letter {
    font-size: x-large;
    font-family: 'Ruslan Display', cursive;
    padding-left: 1em;
}
@media screen and (max-width: 1200px) {
    body {
        font-size: 14px;
        padding: 2em 2em 2em 17em;
    }

    .toc {
        left: 2em;
    }

    .gallery {
        max-width: 800px;
        position: relative;
        padding-left: 20em;
        width: 100%;
        background: #111111;
    }

    .gallery img:not(first-child) {
        float: left;
    }

    .gallery img:last-child {
        margin-bottom: 200px;
    }
}

#fullscreen {
    position: fixed;
    background: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#fullscreen .image {
    height: 90%;
    width: auto;
}